<div class="container">
    <button class="btn btn-primary" routerLink="/addbeneficiary">Add Payee</button>
    <button class="btn btn-primary" routerLink="/transfermoney">Transfer Money</button>
</div>
<div class="container2">
    <div>
        <h3>Security Info</h3>
        <p>1. Be suspicious of any email with urgent requests for personal financial information. Don't open unexpected e-mail attachments or instant message download links.</p>
        <p>2. Always check the web address carefully before sharing any sensitive information. Avoid making online transactions at cyber cafes or public computers.</p>
        <p>3. Do not let your computer remember your password and Never accept auto complete options provided by your computer/browser. Do not share your internet banking username/password via e-mail or over the phone.</p>
        <p>4. Do not let your computer remember your password and Never accept auto complete options provided by your computer/browser. Do not share your internet banking username/password via e-mail or over the phone.</p>
    </div>
</div>