.container{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 400px;
    margin: auto;
}
.btn{
    margin:30px;
}
.container2{
    position: absolute;
    width: 700px;
    top: 35%;
    left:20%;
    background-color: rgb(248 251 246 / 68%);
    text-align: start;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px black;
    
  
}