<div class="container">
<form #myform="ngForm">
  <div class="heading">Initiate IMPS transfer</div>
  <div class="form-group">
    <label for="fromaccount">From Account</label>
    <div>
        <p>{{accountData.accountId}}<p>
    </div>
  </div>
  <div class="form-group">
    <label for="toaccount">To Account</label>
    <input
      class="form-control"
      type="text"
      name="toaccount"
      [(ngModel)]="transferData.toAccount"
      list="beneficiaries"
      required
    />
    <datalist id="beneficiaries">
      <option value={{beneficiary.accountNumber}} *ngFor="let beneficiary of beneficiaries">{{beneficiary.name}}</option>
    </datalist>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input
      class="form-control"
      type="number"
      name="amount"
      [(ngModel)]="transferData.amount"
      #amount="ngModel"
      required
      max="4000"
    />
  </div>
  <div *ngIf="amount.invalid && (amount.touched || amount.dirty)" class="alert">
    <div class="alert alert-danger" *ngIf="amount.errors?.['required']">
        Amount is required
    </div>
    <div class="alert alert-danger" *ngIf="amount.errors?.['max']">
        PLease enter amount Below {{4000|currency:'INR'}}
    </div>

  </div>
  <div class="form-group">
    <label for="tdate">Transaction Date</label>
    <div>
        <label>{{transferData.transactionDate}}</label>
    </div>
  </div>
  <div class="form-group">
    <label for="remark">Remark</label>
    <input
      class="form-control"
      type="text"
      name="remark"
      [(ngModel)]="transferData.remark"
    />
  </div>
  <div>
    <button class="btn btn-primary" disabled="true">
      Total amount {{ transferData.amount  | currency : "INR" }}
    </button>
  </div>
  <div *ngIf="pinStatus==2 || pinStatus==0">
    <label for="tpin">Enter your TPIN</label>
    <input class="form-control" name="tpin" [(ngModel)]="tpin"/>
    <button type="button" class="btn btn-primary" (click)="verifyTpin()">Verify</button>
  </div>
  <div *ngIf="pinStatus==3">
    <div class="alert alert-success"> TPIN verified Continue to transfer!</div>
  </div>
  <div *ngIf="pinStatus==2 && verifypin==false">
    <div class="alert alert-danger"> Please Enter valid TPIN</div>
  </div>
  <div *ngIf="pinStatus==0 && verifypin==null">
    <div class="alert alert-danger"> Please verify TPIN</div>
  </div>
  <button type="reset" class="btn btn-primary">Reset</button>
  <button type="button" (click)="transaction()" class="btn btn-primary">Continue</button>
</form>
</div>