.container{
    position: absolute;
    top:15%;
    left: 25%;
    width: 700px;
    background-color: rgb(248 251 246 / 68%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px black;


}