<app-dashboard></app-dashboard>
<form
  class="container"
  
  #myForm="ngForm" (ngSubmit)="submit(myForm.value)"
>
  <div class="heading">Change Password</div>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="Enter Valid Username "
      [(ngModel)]="userdata.username"  
      #username="ngModel"
      required
    />
   
  </div>
  <div
    *ngIf="
    username.invalid && (username.touched || username.dirty) 
    "
  >
    <div *ngIf="username.errors?.['required']" class="alert alert-danger">
        Username is required
    </div>
  </div>
  <div class="form-group">
    <label for="oldpassword">Old Password</label>
    <input
      type="text"
      class="form-control"
      name="oldpassword"
      placeholder="Enter Password"
      [(ngModel)]="userdata.oldpassword"
      #oldpassword="ngModel"
      required
    />
    <div *ngIf="myForm.submitted">
      <div *ngIf="oldpassword.invalid">
        <div *ngIf="oldpassword.errors?.['required']" class="alert alert-danger">Enter  oldpassword</div>
      </div>

    </div>
 </div>

  <div class="form-group">
    <label for="newpassword">New Password</label>
    <input
      type="password"
      class="form-control"
      name="newpassword"
      [(ngModel)]="userdata.password"
      #newpassword="ngModel"
      minlength="8"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%?&])[A-Za-z\d$@$!%?&]{8,}$"
      required
    />
    <div
      *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)"
      class="alert"
    >
      <div class="alert alert-danger" *ngIf="newpassword.errors?.['required']">
        Password is required.
      </div>
      <div class="alert alert-danger" *ngIf="newpassword.errors?.['minlength']">
        Password must be at least 8 characters long.
      </div>
      <div class="alert alert-danger" *ngIf="newpassword.errors?.['pattern']">
        Password must contain 1 uppercase character,numbers and special
        characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      [(ngModel)]="userdata.confirmpassword"
      #confirmpassword="ngModel"
      name="confirmpassword"
      required
    />
  </div>
  <div *ngIf="myForm.submitted">
    <div
      *ngIf="
        confirmpassword.invalid &&
        (confirmpassword.touched || confirmpassword.dirty)
      "
      class="alert"
    >
      <div
        class="alert alert-danger"
        *ngIf="confirmpassword.errors?.['required']"
      >
        Confirm Password is required
      </div>
    </div>
  </div>
  <!-- <div class="form-group">
    <label for="transactionpin">Set Transaction Pin</label>
    <input
      type="password"
      class="form-control"
      name="transactionpin"
      placeholder="Enter transaction pin"
      [(ngModel)]="userdata.transactionPin"
      #transactionpin="ngModel"
      maxlength="4"
      minlength="4"
      required
    />
  </div>
  <div
    *ngIf="
      transactionpin.invalid && (transactionpin.dirty || transactionpin.touched)
    "
  >
    <div
      class="alert alert-danger"
      *ngIf="transactionpin.errors?.['minlength']"
    >
      Pin should contain 4 digits
    </div>
    <div class="alert alert-danger" *ngIf="transactionpin.errors?.['required']">
      Pin is required!
    </div>
  </div>
  <div class="form-group">
    <label for="confirmtransactionpin">Confirm Transaction Pin</label>
    <input
      type="text"
      class="form-control"
      name="confirmtransactionpin"
      placeholder="Enter transaction pin"
      [(ngModel)]="userdata.confirmTransactionPin"
      #transactionPin="ngModel"
      minlength="4"
    />
  </div> -->
  <button type="submit" class="btn btn-primary">Change Password</button>
  <div *ngIf="myForm.submitted && myForm.invalid" class="alert alert-danger">
    Please fill correct details
  </div>
</form>
