<form #myform="ngForm" class="container">
  <div class="heading">Add new Beneficiary</div>
  <div class="form-group">
    <label for="beneficiaryname">Beneficiary Name</label>
    <input
      class="form-control"
      type="text"
      name="beneficiaryname"
      [(ngModel)]="beneficiaryData.name"
      #name="ngModel"
      required
    />
  </div>
  <div *ngIf="myform.submitted">
    <div *ngIf="name.errors?.['required']" class="alert alert-danger">Please enter Beneficiary name</div>
  </div>

  <div class="form-group">
    <label for="beneficiaryaccountnumber">Beneficiary account number</label>
    <input
      class="form-control"
      type="text"
      name="beneficiaryaccountnumber"
      [(ngModel)]="beneficiaryData.accountNumber"
      required
    />
  </div>
  <div class="form-group">
    <label for="confirmbeneficiaryaccountnumber"
      >Confirm Beneficiary account number</label
    >
    <input
      class="form-control"
      type="text"
      name="comfirmbeneficiaryaccountnumber"
      required
    />
  </div>
  <div class="form-group">
    <label for="nickname">Nick Name</label>
    <input
      class="form-control"
      type="text"
      name="nickname"
      [(ngModel)]="beneficiaryData.nickName"
    />
  </div>
  <button type="button" [disabled]="myform.invalid" (click)="addBeneficiary()" class="btn btn-primary">
    Save Beneficiary
  </button>

  <button type="button" routerLink="/dashboard" class="btn btn-primary">
    Home
  </button>
</form>
