
<app-dashboard></app-dashboard>
<div class="container">
<table class="table table-hover" >
    <thead>
      <tr>
        <th scope="col">Account Number</th>
        <th scope="col">Name</th>
        <th scope="col">Account Type</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{account.accountNumber}}</td>
        <td>{{account.name}}</td>
        <td>{{account.accountType}}</td>
        <td>{{account.balance}}</td>
      </tr>
     
    </tbody>
  </table>
</div>
<div class="container1">
  <label>1. Keep track of your income and expenses:</label>

<label>2. Set a budget:</label>

<label>3. Avoid unnecessary fees:</label>

<label>4. Use automatic savings plans:</label>

<label>5. Monitor your account regularly:</label>

<label>6. Plan for unexpected expenses:</label>

<label>7. Consider using financial management tools:</label>
</div>